* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.bg-gradient {
  position: relative;
  background-image: radial-gradient(circle, #480808, #3f0b0a, #350c0c, #2c0d0c, #230d0c, #1e0b0c, #190a0b, #120809, #0e0607, #0a0405, #050203, #000000);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

p {
  color: white;
}

header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-image: linear-gradient(to right, #000000, #0c0406, #14090b, #1b0d0e, #201011, #251112, #2b1212, #301212, #361010, #3c0e0e, #420c0c, #480808);
  width: 100%;
  z-index: 10;
}
header .logo {
  height: 100%;
  width: 6.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #510303, #460707, #3c0a0a, #310c0c, #260d0c, #200c0c, #1a0a0b, #120809, #0e0607, #0a0405, #050203, #000000);
}
header .logo i {
  color: white;
  font-size: 24px;
}
header ul {
  height: 100%;
  width: 73.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  margin-right: 2.5rem;
}
header ul li a {
  color: #C7C7C7;
}
header .name {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C7C7C7;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 3.125rem 5rem 3.125rem;
}
main .card-box {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .card-box div {
  width: 50%;
  height: 14rem;
}
main .card-box div .items {
  float: left;
}
main .card-box div .items h3 {
  font-size: 50px;
  font-weight: 600;
  color: #C7C7C7;
}
main .card-box div .description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .card-box div .description .rect-1 {
  width: 100%;
  height: 15%;
}
main .card-box div .description .rect-1 div {
  height: 100%;
  width: 100%;
}
main .card-box div .description .rect-1 div h4 {
  float: right;
  text-align: center;
  border: 2px solid #C7C7C7;
  width: 6.25rem;
  letter-spacing: 9px;
}
main .card-box div .description .rect-2 {
  width: 100%;
  height: 50%;
}
main .card-box div .description .rect-2 div {
  height: 92%;
  width: 100%;
}
main .card-box div .description .rect-2 div h4 {
  font-size: 18px;
  width: 20px;
  height: 100%;
  border: 2px solid #C7C7C7;
  word-wrap: break-word;
  text-align: center;
  line-height: 18px;
}
main .card-box div .description .card-item {
  width: 100%;
  height: 85%;
}
main .card-box div .description .card-item .item-1 {
  padding: 0.75rem 0;
  height: 100%;
  float: right;
  width: 70%;
}
main .card-box div .description .card-item .item-1 h4 {
  text-align: right;
}
main .card-box div .description .card-item .item-1 p {
  padding-top: 0.3125rem;
  text-align: right;
}
main .card-box div .description .card-item-2 {
  width: 100%;
  height: 50%;
}
main .card-box div .description .card-item-2 .item-2 {
  padding: 0.75rem 0;
  float: left;
  height: 100%;
  width: 70%;
}
main .card-box div .description .card-item-2 .item-2 h4 {
  text-align: left;
}
main .card-box div .description .card-item-2 .item-2 p {
  padding-top: 0.3125rem;
  text-align: left;
}
main .card-box div .difficult {
  position: relative;
  width: 100%;
  height: 100%;
}
main .card-box div .difficult .content-difficult {
  text-align: right;
  height: 6rem;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}

.imagen-background {
  position: absolute;
  height: 350px;
  width: 350px;
}
.imagen-background img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-wrap: wrap;
}
.about .history {
  width: 30%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.about .history .box-figure {
  background-image: linear-gradient(to right, #000000, #0c0406, #14090b, #1b0d0e, #201011, #251112, #2b1212, #301212, #361010, #3c0e0e, #420c0c, #480808);
  border-radius: 50%;
  height: 800px;
  width: 800px;
  position: absolute;
  top: -100%;
  transform: translate(-50%, -50%);
}
.about .history h3 {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-40%);
}
.about .card-me {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125 rem;
}
.about .card-me p {
  text-align: center;
}
.about .others {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.about .others h3 {
  color: white;
}

.about-my-work {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-my-work .my-work {
  width: 100%;
}
.about-my-work .my-work .flex-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-my-work .my-work .flex-box-1 .img-work {
  height: 352px;
  width: 324px;
}
.about-my-work .my-work .flex-box-1 .img-work img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.collections {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.collections div img {
  height: 352px;
  width: 324px;
}

/*# sourceMappingURL=estilos.css.map */
