*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h4{
    color: white;
    font-size: 20px;
}
h3{
    color: white;
}
h5{
    color: white;
}
p{
    color: white;
}
button:focus{
    outline: none;
}

.video-modal{
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    +i{
        position: absolute;
        top: 17%;
        right: 25%;
        color: rgb(196, 67, 67);
        font-size: 2.25rem;
        display: inline-block;
        padding: 0.65rem 0.775rem;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:hover{
            color: rgb(240, 108, 108); 
        }
    }
}

.header-pc{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right bottom, #4e0000, #520000, #560000, #5a0000, #5e0000);
    width: 100%;
    z-index: 10;
    ul{
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin-right: 2.5rem;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            a{
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;

                &:hover{
                    color: rgba(white,0.5);
                }
            }
        }
    }
    .name{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        cursor: pointer;
        h3{
            font-style: normal;
            font-weight: 700;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            &:hover{
                color: rgba(white,0.5);
            }
        }
    }
}

.header-movil{
    height: 5rem;
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-image: linear-gradient(to right bottom, #4e0000, #520000, #560000, #5a0000, #5e0000);
    width: 100%;
    z-index: 10;
    .burger-menu{
        padding-left: 1rem;
        cursor: pointer;
        font-size: 2.1875rem;
    }
    .slideMenu{
        position: fixed;
        top: 5rem;
        left: -80%;
        text-align: center;
        width: 80%;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        &.active{
            left: 0;
        }
        ul{
            background-image: radial-gradient(circle, #211f1f, #1c1b1b, #181717, #131212, #0d0c0c);
            height: 100%;
            width: 80%;
            li{
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                display: block;
                padding: 0.625rem 0;
                border-top: 1px solid #32050d;
                a{
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
    
                    &:hover{
                        color: rgba(white,0.5);
                    }
                }
            }
        }
    }
    .name{
        padding-right: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        cursor: pointer;
        h3{
            font-style: normal;
            font-weight: 700;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            &:hover{
                color: rgba(white,0.5);
            }
        }
    }
}

.main{
    // position: relative;
    // background-image: radial-gradient(circle, #480808, #3f0b0a, #350c0c, #2c0d0c, #230d0c, #1e0b0c, #190a0b, #120809, #0e0607, #0a0405, #050203, #000000);
    background-image: radial-gradient(circle, #211f1f, #1c1b1b, #181717, #131212, #0d0c0c);
    width: 100%;
    // Home
    .home{
        width: 100%;
        max-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8rem 3.125rem 0rem 3.125rem;
        .card{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .card-description{
                width: 40%;
                h4{
                    margin-bottom: 1.25rem;
                }
                h3{
                    margin-bottom: 1.25rem;
                    span{
                        font-size: 40px;
                    }
                }
                p{
                    margin-bottom: 1.25rem;
                }
                button{
                    background-image: linear-gradient(to left top, #e00000, #c70011, #ad0018, #92021b, #78091c);
                    border: none;
                    height: 2.5rem;
                    width: 10.25rem;
                    color: white;
                    font-size: 24px;
                    border-radius: 1.25rem;
                    cursor: pointer;

                    &:hover{
                        background-image: linear-gradient(to right bottom, #5e2a32, #7a2733, #962031, #b1152b, #cb0021);
                        color: rgba(white, 0.8);
                    }
                }
                button:focus{
                    outline: none;
                }

            }
            .my-image{
                width: 30%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .movil{
                display: none;
            }
        }
    }

    // About me
    .about-my-work{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5rem 0;
        flex-wrap: wrap;
        .about{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 2rem;
            .card-me{
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3.125 rem;
                p{
                    text-align: center;
                    font-style: normal;
                    font-size: 20px;
                }
            }
            .others{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                h3{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
        .my-work{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
                img{
                    height: 280px;
                    width: 320px;
                    margin-right: 3rem;
                    // object-fit: cover;
                    // object-position: center;
                    border-top-right-radius: 10%;
                    border-bottom-left-radius: 10%;
                }
                img:last-child{
                    margin-right: 0;
                }
        }
        
    }

    // Collections
    .collections{
        .container{
            display: flex;
            flex-direction:row;
            flex-wrap:wrap;
            align-items: center;
            max-width: 1080px;
            margin: 0 auto;
            // background-image: linear-gradient(to left top, #690b0b, #690f0f, #691212, #691515, #691818, #61171a, #59171b, #50171c, #3e141a, #2b1116, #1b0a0e, #000000);
            // background-image: linear-gradient(to right bottom, #cd0101, #9d0813, #6d1017, #3e1214, #0f0707);
            .col{
                width: 50%;

                &.izq{
                    box-shadow: 0px 9px 32px -1px rgba(0,0,0,0.5);
                    overflow: hidden;
                }

                .title-collections{
                    padding:3.125rem;
                    padding-right: 0;

                    h2{
                        text-align: center;
                        color: rgb(235, 223, 223);
                        margin-bottom: 1rem;
                    }
                    p{
                        color: rgb(235, 223, 223);
                        padding-bottom: 1.125rem;
                        font-size: 1.125rem;
                        line-height: 1.75;

                        &:last-child{
                            padding-bottom: 0;
                        }
                    }
                }


                .slider{
                    width: 300%;
                    display: flex;

                    .slide{
                        width: 100%;
                        min-height: 400px;
                        background-size: cover;
                        background-position: center;

                        &.img1{
                            background-image: url('../img/laptop7.jpg');
                        }

                        &.img2{
                            background-image: url('../img/laptop8.jpg');
                        }

                        &.img3{
                            background-image: url('../img/laptop10.png');
                        }
                    }
                }
            }
        }
    }

    .contacto{
        margin: 5rem 0 0 0;
        .datos{
            padding: 5.625rem 0 11.875rem 0;
            position: relative;
            background-image: url('../img/laptop11.jpg');
            background-size: cover;
            background-repeat: no-repeat;

            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(black, 30%);
                top: 0;
                z-index: 1;
            }

            .container{
                position: relative;
                z-index: 2;
                display: flex;
                justify-content:space-between;
                flex-wrap: wrap;
                width: 90%;
                max-width: 1080px;
                margin: 0 auto;

                .blurb{
                    background-image: linear-gradient(to right bottom, #a49898, #938b8d, #827e80, #727173, #646464);
                    padding: 2.25rem;
                    text-align: center;
                    width: 25%;

                    h3{
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 2.6875rem;
                        margin-bottom: 1.125rem;
                        color: rgb(26, 24, 24);
                        border-bottom: 1px solid rgb(241, 238, 238);
                    }

                    p{
                        font-size: 1rem;
                        color: rgb(26, 24, 24);
                    }
                }
            }
        }

        .formulario{
            position: relative;
            z-index: 3;
            background-image: linear-gradient(to right bottom, #a49898, #938b8d, #827e80, #727173, #646464);
            max-width: 40.625rem;
            margin: 0 auto;
            padding: 2.25rem;
            margin-top: -6.25rem;
            width: 90%;

            .formulario_contacto{
                .input-group{
                    position: relative;
                    margin-bottom: 2rem;

                    input[type="text"],input[type="email"],textarea{
                        // font-family: @fuente-secundaria;
                        font-size: 1rem;
                        color: black;
                        width: 100%;
                        outline: none;
                        padding: 0.9375rem 0;
                        background: none;
                        border: none;
                        border-bottom: 2px solid rgba(53, 47, 47, 0.5);
                        vertical-align: top;

                        &:focus{
                            border-bottom: 2px solid rgb(179, 169, 169);
                        }
                    }

                    textarea{
                        max-width: 100%;
                        max-height: 10.25rem;
                        min-height: 5.125rem;
                        min-width: 100%;
                    }

                    label{
                        color: rgb(3, 3, 3);
                        font-family: 'Lato', sans-serif;

                        &.label{
                            position: absolute;
                            top: 1rem;
                            left: 0;
                            font-size: 1rem;
                            font-weight: 700;
                            line-height: 1rem;
                            margin-left: 1rem;
                            -webkit-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;

                            &.active{
                                top: -0.75rem;
                                margin-left: 0;
                                font-size: 0.75rem;
                                line-height: 0.75rem;
                                color: rgb(43, 43, 43);
                            }
                        }
                    }

                    .error{
                        position: absolute;
                        color: rgb(221, 2, 2);
                        font-family: 'Lato', sans-serif;
                        font-size: 0.875rem;
                    }
                }

                input[type="submit"]{
                    // font-family: @fuente-secundaria;
                    background-image: linear-gradient(to right bottom, #000000, #181717, #292627, #3c3737, #4f4848);
                    color: white;
                    cursor: pointer;
                    border: none;
                    border-top-right-radius: 10%;
                    border-bottom-left-radius: 10%;
                    display: block;
                    margin: 0 auto;
                    margin-top: 3.125rem;
                    padding: 0.9375rem;
                    width: 6.25rem;
                    outline: none;
                    -webkit-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    &:hover{
                        background-image: linear-gradient(to right bottom, #1a1818, #2c2828, #3f3939, #544b4b, #695d5d);
                    }
                }
            }
        }
    }
}


// Footer
footer{
    // background-image: linear-gradient(to right, #000000, #0c0406, #14090b, #1b0d0e, #201011, #251112, #2b1212, #301212, #361010, #3c0e0e, #420c0c, #480808);
    background-image: linear-gradient(to right bottom, #000000, #080808, #0e0e0e, #141414, #181818);
    text-align: center;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 
    .container-footer{
        p{
            font-style: normal;
            font-weight: 400;
        }
        .top-redes{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// Media Queries para responsive

@media all and(max-width: 1200px){
    .about-my-work{
        .my-work{
            img.img-1{
                height: 240px;
                width: 280px;
            }
            img.img-3{
                height: 240px;
                width: 280px;
            }
            .img-1{
                margin-right: 10rem;
            }
            .img-3{
                margin-left: 10rem;
            }
            .img-2{
                display: none;
            }
        }
        .about{
            display: block;
            .card-me{
                width: 100%;
            }
            .others{
                width: 100%;
            }
        }
    }
    .main .collections .container .col{
        width: 100%;
    }
    .main .collections .container .col .title-collections{
        padding: 0;
    }
    .collections{
        .container{
            display: block;
            width: 540px;
            .col.izq{
                width: 100%;
            }
            .col{
                width: 100%;
                .title-collections{
                    padding: 1rem;
                    text-align: justify;
                    h2{
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media all and(max-width: 1000px){
    .about-my-work{
        .my-work{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img.img-2 {
                display: block;
                margin-right: 0;
                width: 260px;
                height: 200px;
            }
            img.img-1{
                width: 260px;
                height: 200px;
            }
            .img-3{
                display: none;
            }
        }
    }
    .collections{
        .container{
            display: block;
            width: 540px;
            .col{
                width: 100%;
                .title-collections{
                    padding: 1rem;
                    text-align: justify;
                    h2{
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media all and(max-width: 980px){
    // .main .contacto .datos .container{
    //     display: block;
    // }
    .main .contacto .datos .container .blurb{
        width: 100%;
        max-width: 40.625rem;
        max-height: 10.75rem;
        margin: 0 auto;
        margin-bottom: 2.25rem;
        &:last-child{
            margin-bottom: 0;   
        }
    }
}

@media all and(max-width: 850px){
    .my-image{
        display: none;
    }
    .my-work{
        .img-3{
            display: none;
        }
    }
}

@media all and(max-width: 800px){
    .home{
        max-height: 800px;
    }
    .main .home .card{
        text-align: center;
        display: block;
        .card-description{
            width: 100%;
            .web{
                display: none;
            }
        }
        .my-image{
            width: 100%;
            img{
                width: 40%;
                height: 40%;
                object-fit: cover;
                object-position: center;
            }
        }
        .movil{
            display: inline-block;
            background-image: linear-gradient(to left top, #e00000, #c70011, #ad0018, #92021b, #78091c);
            border: none;
            height: 2.5rem;
            width: 10.25rem;
            color: white;
            font-size: 24px;
            border-radius: 1.25rem;
            cursor: pointer;

            &:hover{
                background-image: linear-gradient(to right bottom, #5e2a32, #7a2733, #962031, #b1152b, #cb0021);
                color: rgba(white, 0.8);
            }
        }
    }
}

@media all and(max-width: 750px){
    .about-my-work .my-work img.img-1{
        display: none;
    }
}

@media all and(max-width: 660px){
    .header-pc{
        display: none;
    }
    .header-movil{
        display: flex;
    }
    .col.izq{
        display: none;
    }
}

@media all and(max-width: 620px){
    .main .collections .container{
        width: 50%;
    }
}

@media all and(max-width: 520px){
    .main .collections .container{
        width: 50%;
    }
}

@media all and(max-width: 300px){
    .header-movil{
        .name{
            display: none;
        }
    }
}

@media all and(max-width: 310px){
    .about-my-work .my-work img.img-2{
        display: none;
    }
}


@media all and(max-width: 264px){
    .main .home .card .movil{
        display: none;
    }
}

@media all and(max-width: 216px){
    .main .home .card .card-description h3{
        display: none;
    }
}

