*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.bg-gradient{
    position: relative;
    // background-image: radial-gradient(circle, #480808, #3f0b0a, #350c0c, #2c0d0c, #230d0c, #1e0b0c, #190a0b, #120809, #0e0607, #0a0405, #050203, #000000);
    background-image: linear-gradient(to right, #000000, #180308, #26050c, #32050d, #40000c);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h4{
    color: white;
    font-size: 20px;
}
h3{
    color: white;
}
h5{
    color: white;
}
p{
    color: white;
}

header{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    // background-image: linear-gradient(to right, #000000, #0c0406, #14090b, #1b0d0e, #201011, #251112, #2b1212, #301212, #361010, #3c0e0e, #420c0c, #480808);
    background-image: linear-gradient(to right top, #000000, #180308, #26050c, #32050d, #40000c);
    width: 100%;
    z-index: 10;
    .logo{
        height: 100%;
        width: 6.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-image: linear-gradient(to right, #510303, #460707, #3c0a0a, #310c0c, #260d0c, #200c0c, #1a0a0b, #120809, #0e0607, #0a0405, #050203, #000000);
        // background-image: linear-gradient(to right top, #000000, #180308, #26050c, #32050d, #40000c);
        i{
            color: white;
            font-size: 24px;
        }
    }
    ul{
        height: 100%;
        width: 73.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin-right: 2.5rem;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }
    }
    .name{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        h3{
            font-style: normal;
            font-weight: 700;
        }
    }
}

// Home
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 3.125rem 0rem 3.125rem;
    .card{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card-description{
            width: 40%;
            h4{
                margin-bottom: 1.25rem;
            }
            h3{
                margin-bottom: 1.25rem;
                span{
                    font-size: 40px;
                }
            }
            p{
                margin-bottom: 1.25rem;
            }
            button{
                background-image: linear-gradient(to left top, #e00000, #c70011, #ad0018, #92021b, #78091c);
                border: none;
                height: 2.5rem;
                width: 10.25rem;
                color: white;
                font-size: 24px;
                border-radius: 1.25rem;
                cursor: pointer;
            }
            button:focus{
                outline: none;
            }
            button:hover{
                background-image: linear-gradient(to right bottom, #e00000, #ce1112, #bb1c1c, #a82323, #942828);
            }

        }
        .my-image{
            width: 30%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

// About me
.about-my-work{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 0;
    flex-wrap: wrap;
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 2rem;
        .card-me{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3.125 rem;
            p{
                text-align: center;
                font-style: normal;
                font-size: 20px;
            }
        }
        .others{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            h3{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
    .my-work{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 352px;
         width: 324px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                position: relative;
                border-radius: 50%;
                margin-right: 5rem;
            }
            img:last-child{
                margin-right: 0;
            }
    }
    
}

// Collections
.collections{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 352px;
    margin-left: 10.5rem;
    margin-right: 10.5rem;
    margin-bottom: 3rem;
    .imagenes{
        height: 100%;
        width: 60%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }   
    }
    .card-collections{
        width: 40%;
        height: 100%;
        margin: 0 3rem 0 3rem;
        
        h3{
            text-align: center;
        }
        p{
            margin-top: 1rem;
        }
    }
}

.contacto{

    .datos{
        padding: 5.625rem 0 11.875rem 0;
        position: relative;
        background-image: url('../img/modas.png');
        background-size: cover;
        background-position: center;

        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(black, 30%);
            top: 0;
            z-index: 1;
        }

        .container{
            position: relative;
            z-index: 2;
            display: flex;
            justify-content:space-between;
            flex-wrap: wrap;
            width: 90%;
            max-width: 1080px;
            margin: 0 auto;

            .blurb{
                background-image: linear-gradient(to right bottom, #cd0101, #9d0813, #6d1017, #3e1214, #0f0707);
                padding: 2.25rem;
                text-align: center;
                width: 25%;

                h3{
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 2.6875rem;
                    margin-bottom: 1.125rem;
                    border-bottom: 1px solid grey;
                }

                p{
                    font-size: 1rem;
                    color: #777;
                }
            }
        }
    }

    .formulario{
        position: relative;
        z-index: 3;
        background-image: linear-gradient(to right bottom, #cd0101, #9d0813, #6d1017, #3e1214, #0f0707);
        max-width: 40.625rem;
        margin: 0 auto;
        padding: 2.25rem;
        margin-top: -6.25rem;
        width: 90%;

        .formulario_contacto{
            .input-group{
                position: relative;
                margin-bottom: 2rem;

                input[type="text"],input[type="email"],textarea{
                    // font-family: @fuente-secundaria;
                    font-size: 1rem;
                    color: black;
                    width: 100%;
                    outline: none;
                    padding: 0.9375rem 0;
                    background: none;
                    border: none;
                    border-bottom: 2px solid rgba(41, 4, 4, 0.5);
                    vertical-align: top;

                    &:focus{
                        border-bottom: 2px solid rgba(41, 4, 4);
                    }
                }

                textarea{
                    max-width: 100%;
                    max-height: 10.25rem;
                    min-height: 5.125rem;
                    min-width: 100%;
                }

                label{
                    color: rgb(197, 192, 192);
                    font-family: 'Lato', sans-serif;

                    &.label{
                        position: absolute;
                        top: 1rem;
                        left: 0;
                        font-size: 1rem;
                        line-height: 1rem;
                        margin-left: 1rem;
                        -webkit-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;

                        &.active{
                            top: -0.75rem;
                            margin-left: 0;
                            font-size: 0.75rem;
                            line-height: 0.75rem;
                            color: white;
                        }
                    }
                }

                .error{
                    position: absolute;
                    color: rgb(255,59,59);
                    font-family: 'Lato', sans-serif;
                    font-size: 0.875rem;
                }
            }

            input[type="submit"]{
                // font-family: @fuente-secundaria;
                background-image: linear-gradient(to right, #000000, #180308, #26050c, #32050d, #40000c);
                color: white;
                cursor: pointer;
                border: none;
                display: block;
                margin: 0 auto;
                margin-top: 3.125rem;
                padding: 0.9375rem;
                width: 20%;
                outline: none;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                &:hover{
                    background-image: linear-gradient(to right bottom, #cd0101, #9d0813, #6d1017, #3e1214, #0f0707);
                }
            }
        }
    }
}

// Footer
footer{
    // background-image: linear-gradient(to right, #000000, #0c0406, #14090b, #1b0d0e, #201011, #251112, #2b1212, #301212, #361010, #3c0e0e, #420c0c, #480808);
    background-image: linear-gradient(to right top, #000000, #180308, #26050c, #32050d, #40000c);
    text-align: center;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        font-style: normal;
        font-weight: 400;
    }
}